:root {
  --accent-color: #00acdc;
}

html,
body,
header,
nav,
ul,
li,
a,
img {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: 500;
}

.header {
  display: flex;
  align-items: center;
  padding: 0 20px;
  background: #fff;
}

.header__logo-link {
  display: flex;
  margin-right: 40px;
}

.header__logo-img {
  display: block;
}

.nav__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav__item {
  margin-right: 20px;
}

.nav__item:last-child {
  margin-right: 0;
}

.nav__link {
  position: relative;
  display: flex;
  align-items: center;
  height: 60px;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
}

.nav__link:hover {
  color: var(--accent-color);
}

.nav__link.is-active {
  color: var(--accent-color);
}

.nav__link.is-active::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 8px 8px 0 0;
}
